body {
    padding: 0;
    margin: 0;
}
/* Header */
header {
  position: fixed;
  background-color: rgb(38, 81, 109);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  z-index: 1;
}

header img {
  height: 45px;
}

/* Banner Section  */
.banner img {
  width: 100%;
  height: 100%;
}
.banner h2 {
  position: absolute;
  top: 25%;
  background-color: rgba(165, 157, 157, 0.5);
  padding: 30px;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
}
.banner {
  position: relative;
  text-align: center;
}

.banner h2 span {
  font-weight: bold;
  font-size: 1.5em;

}


/* Navigiation Bar */
nav {
  background-color: rgb(211, 213, 214);
  position: sticky;
  top: 86px;
  z-index: 1;
  
}
nav li {
  display: inline-block;
  width: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(38, 81, 109);
}

nav ul {
  white-space: nowrap;
  max-width: 1000px;
  margin: 0 auto;
}

nav li:hover {
  text-decoration: underline;
  font-weight: bold;
}


/* main Scetion  */

article {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

article h2,h3 {
    color: rgb(38, 81, 109);
}

article p {
    line-height: 1.3em ;
    letter-spacing: 1px;
}

article ul li {
  display: inline-block;
  width: 45%;
  padding: 10px;
}

article ul li img {
  width: 90%;
  max-height: 70%;
}

article ul li img:hover {
  transform: scale(1.1);
}

article p::first-letter {
  font-size: 2em;
  font-weight: bold;
  
}

article p::selection {
  background-color: rgb(172, 205, 110);
  color: white;
}


/* State Section  */
section.state {
  background-color: rgb(27, 86, 115);
}

.state-list {
    max-width: 900px;
    margin: 0 auto;
    column-count: 4;
    column-gap: 20px;
    padding: 20px;
    list-style: none;
    width: 75%;
}

.state-list li {
    color: white;
    line-height: 40px;

}
.state-list li:hover {
    text-decoration: underline;
    font-weight: bold;
}


/* footer */
footer {
  background-color: rgb(38, 81, 109);
  color: white;
  margin: 0 auto;
  padding: 20px;
  
}
footer p {
    text-align: center;
}


/* horizontal line */
hr {
  width: 60%;
  margin:  0 auto;
}


/* Breakpoints 
xs/small phones (portrait) -576px
sm/medium tablets-768px
lg/desktops (landscape) -992px
xl/large desktops (landscape) -1200px
xxl/extra large desktops (landscape) -1600px
*/
@media screen  and (max-width: 720px) {
  header {
    position: static;
    background-color: rgb(38, 81, 109);
  }
  .banner h2 {
    position: static;
    border-radius: 0;
    margin: 0;
    font-size: 0.95em;
  }

  nav li {
    display: block;
    line-height: 3px;
  }

  nav {
    top: 0;
  }

  article ul li {
    display: block;
    width: 100%;
    
  }

  .state-list {
    column-count: 2;
  }
  
}

@media  screen and (max-width: 992px) {
  header {
    position: static;

  }
  nav {
    top: 0;
  }

  .banner h2 {
    font-size: 1.1em;
  }

  
}


